@import "tailwindcss";
@import 'swiper/css' ;
@import 'swiper/css/pagination' ;
@import 'swiper/css/effect-fade';

@theme{
    --color-primary: #1C7C54;
    --color-secondary: #F4A300;
}

.container{
    @apply box-border mx-auto px-2 sm:px-4 lg:px-6;
}
/* Custom CSS */
.scrollbar-invisible {
    scrollbar-width: none; /* FireBox*/
    -ms-overflow-style: none; /* IE 10+*/
}

.scrollbar-invisible::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
